@import "../base/maps";
@import "../base/extends";


/*estilos para experiencia*/



.experiencia1 { font-size: 20px;
color: white;
margin-top: 100px;
    img{
        width: 70%;
    }

}

.experiencia2 { font-size: map-get($map: $experiencias, $key:font-exp );
color:map-get($map: $experiencias, $key:color-exp );
margin-bottom: 100px;
    img{
        width: 70%;
    }

}

.experiencias-1 { margin-top: 150px;
margin-bottom: map-get($map: $experiencias, $key:margin-exp);
box-sizing: border-box;}
// padding: 30px 100px 30px 100px;


.encabezado {
    color: white;
    margin-top: 40px;
}

.exp-1{
    background-color: rgba($color: black, $alpha: 0.6);
    font-size: 20px;
    margin-top: 10px;
}

