@import "../base/mixin";


/*estilo para nosotros*/    

.encabezado {
        color: white;
        margin-bottom: 40px;
    }

.nos-1{
    background-color: rgba($color: black, $alpha: 0.6);
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 40px;
    color: white;
    }

.historia1 { display: flex;
justify-content: center;
}

.historia-1 { width: 600px;}

@media (max-width: 470px) { 
    .historia-1 { width: 400px;}
}




