@import "../base/mixin";


/*estilo para nosotros*/

.historia p { text-align: center; 
color: white;}
    
    .historia img { width: 60%;
    margin-left: 300px;}
    

.encabezado {
        color: white;
        margin-bottom: 40px;
    }


@media (max-width: 490px) { 

.historia p {@include real(10px, white);}

.historia img { visibility: hidden;}

}

